*{
    color: black;
    background-color: rgb(190, 205, 235);
    margin-left: 5px;
    
}
h1{
    background: rgb(94, 94, 216);
    margin-left: 5px;
}
img{
    border-radius: 10%;
    margin-left: 70px;
}
#sub2{
   color: rgb(4, 8, 240);
}
.sub1{
   color: rgb(4, 8, 240);
   
   
}
